<main class="container">
    <h2>Login</h2>
    <form action="">
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Insira seu usuário">
            <div class="underline"></div>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="******">
            <div class="underline"></div>
        </div>

        <input type="submit" value="Entrar">

    </form>
    <div class="footer">
        <span>Esqueceu a senha?</span>
    </div>
</main>